<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <queries>
      <intent>
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.BROWSABLE" />
        <data android:scheme="http" />
      </intent>
      <!-- Required for Payment Request API (Google Pay) in WebView on Android 11+ -->
      <intent>
        <action android:name="org.chromium.intent.action.PAY" />
      </intent>
      <intent>
        <action android:name="org.chromium.intent.action.IS_READY_TO_PAY" />
      </intent>
      <intent>
        <action android:name="org.chromium.intent.action.UPDATE_PAYMENT_DETAILS" />
      </intent>
    </queries>
  <uses-permission android:name="android.permission.CAMERA"/>
  
  <application>
    <provider
      android:name="androidx.core.content.FileProvider"
      android:authorities="${applicationId}.fileprovider"
      android:exported="false"
      android:grantUriPermissions="true">
      <meta-data
        android:name="android.support.FILE_PROVIDER_PATHS"
        android:resource="@xml/file_paths" />
    </provider>
  </application>
</manifest>
