
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ee.forgr.capacitor_inappbrowser">
    <queries>
      <intent>
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.BROWSABLE" />
        <data android:scheme="http" />
      </intent>
    </queries>
</manifest>